/* Universal styles */

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;


}

/* Header */
header {
  display: flex;
  height: 64px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 1;
  justify-content: flex-start;


}

header .logo {
  padding-left: 24px;
  padding-top: 20px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 30px;
}

nav span {
  font-family: 'Open Sans', sans-serif;
  color: rgb(80, 83, 89);
}

header .colmar {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

header .academy {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 32px;
}
