/* Universal styles */

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: rgb(80, 83, 89);
  flex-direction: column;

}

/* Header */
header {
  display: flex;
  height: 64px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  color: rgb(80, 83, 89);
  border-bottom: 1px solid black;
  background-color: white;
}

header .logo {
  padding-left: 24px;
  padding-top: 20px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 30px;
  margin-top: 10px;
}

nav span {
  color: rgb(80, 83, 89);
}

header .colmar {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
}

header .academy {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-top: 15px;
}

/* Big Box 1 */

.box {
  display: flex;
  height: 450px;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.box.one {
  flex-direction: row;
  background-color: rgb(170, 172, 175);
  padding-top: 64px;
}

.box.one .picture {
  display: flex;
  height: 450px;
  width: 592px;
  border: 24px;
}

.box.one .picture img {
  height: 402px;
  width: auto;
  padding: 24px;
}

.box.one .learn {
  text-align: left;
}

.learn h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 24px;
}

.button {
  display: flex;
  background-color: rgb(80, 83, 89);
  color: white;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 240px;
  margin-top: 24px;

}
